$primary: {{ INDIGO_PRIMARY_COLOR }};
$secondary: #F2F7F8;

$blue: $primary !default;
$m-blue-d1: mix(white, $primary, 5%) !default;
$m-blue-d2: mix(white, $primary, 15%) !default;
$m-blue-d3: $primary !default;
$m-blue-d4: mix(rgb(74, 137, 245), $primary, 20%) !default;
$m-blue-d5: mix(rgb(56, 148, 252), $primary, 30%) !default;
$m-blue-d6: mix(rgb(42, 134, 226), $primary, 40%) !default;

$uxpl-blue-hover-active: lighten($primary, 7%) !default;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Theme fonts
$serif: 'Inter';
$dm-sans: 'DM Sans', sans-serif;
$f-sans-serif: $dm-sans, Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-title: $dm-sans,  sans-serif;
$font-family-body: $dm-sans,  sans-serif;
$font-family-sans-serif: $dm-sans, 'Inter', 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;


// Initialize the Open edX Bootstrap theme

@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;


$secondary-700:#000C3B;
$secondary-600:#002481;
$secondary-100: #E1E3FF;
